@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Inter', sans-serif;
  position: relative;
  background-color: var(--white-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1232px;
  margin: 0 auto;
}
/* #212429 */
:root {
  --gold-color: #BC8E5B;
  --silver-color: #EAECF0; 
  --white-color: #fff;
  --black-color: #555; 
  --text-color: #212429;
}
.darkMode {
  --gold-color: #BC8E5B;
  --silver-color: #29313e; 
  --white-color: #212429;
  --black-color: #999;
  --text-color: #fff; 
}
/* header */
.header {
  padding: 16px 24px;
  border-bottom: 1px solid var(--silver-color);
  border-top: 1px solid var(--silver-color);
  position: relative;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  gap: 40px;
  font-weight: 500;
  align-items: center;
}
.kurslar i {
  transform: rotate(-90deg);
  margin-left: 10px;
  font-size: 13px;
}
.kurslar {
  padding: 10px 16px;
  cursor: pointer;
  color: var(--text-color);
}
.navbar {
  display: flex;
  align-items: center;
}
.navbar ul {
  display: flex;
  gap: 10px;
  list-style: none;
}
ul li a {
  padding: 10px 16px;
  color: var(--gold-color);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: all ease 0.5s;
  position: relative;
}
.active:hover::after {
  content: '';
  position: absolute;
  width: 75%;
  height: 1px;
  right: 17px;
  bottom: 8px;
  background-color: var(--gold-color);
}
.online::after {
  content: '';
  position: absolute;
  width: 74%;
  height: 1px;
  right: 17px;
  bottom: 8px;
  background-color: var(--gold-color);
}
.blog::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 1px;
  right: 17px;
  bottom: 8px;
  background-color: var(--gold-color);
}
.phone {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 16px;
  border: 1px solid var(--gold-color);
  border-radius: 10px;
  color: var(--gold-color);
  display: flex;
  gap: 10px;
  align-items: center;
}
.phone span {
  position: relative;
}
.phone span:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: var(--gold-color);
}
.md_img {
  display: none;
}
.md_kurslar {
  display: none;
}
.menu_bar {
  display: none;
}

/* hero */
.hero {
  padding: 50px 24px;
  color: var(--text-color);
}
.flex {
  display: flex;
  display: none;
}
/* mode */
.mode_dark {
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
  border: none;
}
.mode_dark i {
  font-size: 30px;
}
.mode_light {
  background-color: transparent;
  cursor: pointer;
  margin-right: 20px;
  border: none;
}
.mode_light i {
  font-size: 30px;
  color: var(--gold-color);
}
/* sidebar */
.overflow {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100vh;
  display: block;
  opacity: 1;
  background-color: #00000080;
  transition: all ease 0.3s;
}
.overlfow_left {
  width: 7%;
  cursor: pointer;
  position: absolute;
  height: 100vh;
}
.side__bar {
  width: 93%;
  height: 100vh;
  background-color: var(--white-color);
  margin-left: auto;
  padding: 30px 40px;
  position: relative;
  transition: all ease 0.3s;
}
.side__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.closeBtn {
  border: none;
  cursor: pointer;
  background-color: var(--white-color);
  width: 40px;
  height: 40px;
  transition: all ease 0.2s;
  border-radius: 50%;
}
.closeBtn i {
  font-size: 25px;
  color: #555;
  border-width: 1px;
}
.closeBtn:hover {
  background-color: var(--silver-color);
}
.side__bar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.phone_md {
  justify-content: center;
  padding: 10px 16px;
  position: absolute;
  bottom: 30px;
  left: 40px;
  right: 40px;
}
.side__bar ul li {
  margin: 20px 0;
}
.side__bar ul li a {
  padding: 10px 16px;
}

.animtaion_in {
  transform: translateX(0%);
  transition: all ease 0.3s;
}
.hidden {
  transition: all ease 0.3s;
  display: none;
  opacity: 0;
}

.animation {
  animation-name: animation;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}
.animation2 {
  animation-name: animation2;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes animation2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
/* @keyframes animationReverse {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
} */

@media (max-width: 900px) {
  .lg_kurslar {
    display: none;
  }
  .flex {
    display: flex;
  }
  .md_kurslar {
    display: block;
    cursor: pointer;
  }
  .navbar {
    display: none;
  }
  .lg_img {
    display: none;
  }
  .md_img {
    display: block;
  }
  .menu_bar {
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--black-color);
    transition: all ease 0.4s;
    cursor: pointer;
  }
  .menu_bar i {
    font-size: 18px;
  }
  .menu_bar:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }
}